* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contaner {
    height: 100vh;
    width: 100vw;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

.ball {
    height: 75px;
    width: 75px;
    background-color: tomato;
    border-radius: 45%;
    position: relative;
    animation-name: bounce;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(1,-0.01, 0.07, 1.34);
    animation-iteration-count: 2;
}


@keyframes bounce {
    0% {
        transform: translateY(0px);
        border-radius: 0%;
        background-color: aqua;
    }

    10% {
        transform: translateY(-350px);
        border-radius: 50%;
        background-color: tomato;
    }

    20% {
        transform: translateY(0px);
        border-radius: 0%;
        background-color: aqua;
    }

    30% {
        transform: translateY(-250px);
        border-radius: 50%;
        background-color: tomato;
    }

    40% {
        transform: translateY(0px);
        border-radius: 0%;
        background-color: aqua;
    }

    50% {
        transform: translateY(-170px);
        border-radius: 50%;
        background-color: tomato;
    }

    60% {
        transform: translateY(0px);
        border-radius: 0%;
        background-color: aqua;
    }

    70% {
        transform: translateY(-100px);
        border-radius: 50%;
        background-color: tomato;
    }

    80% {
        transform: translateY(0px);
        border-radius: 0%;
        background-color: aqua;
    }

    90% {
        transform: translateY(-50px);
        border-radius: 50%;
        background-color: tomato;
    }

    100% {
        transform: translateY(0px);
        border-radius: 0%;
        background-color: aqua;
    }
}