*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;

}
.contaner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto 200xp auto auto;
    border: 2px solid red;
    height: 95%;
    width: 95%;
}
.child{
    
    color: aliceblue;
    font-size: 28px;
    border: 5px solid red;
    background-color: rgba(62, 103, 239, 0.822);
}
#c1{
    background-color: rgb(24, 24, 227);
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#c2{

    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#c3{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}#c4{
    grid-column-start:3 ;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

#c5{
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#c6{
    background-color: rgb(24, 24, 227);
    grid-column-start:1 ;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

